<section class="m-3 p-4 border border-dark rounded-3 text-center">
    <h2 class="mb-4">Users List</h2>
</section>
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Update Role</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" [ngClass]="{
          'table-success': user.roles.includes('User'),
          'table-warning': user.roles.includes('Employee'),
          'table-danger': user.roles.includes('Admin')
        }">
                <td>{{ user.id }}</td>
                <td>{{ user.fullName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles.join(', ') : '-' }}</td>
                <td>
                    <form [formGroup]="userForm" (ngSubmit)="updateRole(user)">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="userRole{{ user.id }}-1"
                                name="userRole{{ user.id }}" value="User" [checked]="user.roles.includes('User')"
                                (change)="userForm.get('role')?.setValue('User')" />
                            <label class="form-check-label" for="userRole{{ user.id }}-1">User</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="userRole{{ user.id }}-2"
                                name="userRole{{ user.id }}" value="Employee"
                                [checked]="user.roles.includes('Employee')"
                                (change)="userForm.get('role')?.setValue('Employee')" />
                            <label class="form-check-label" for="userRole{{ user.id }}-2">Employee</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="userRole{{ user.id }}-3"
                                name="userRole{{ user.id }}" value="Admin" [checked]="user.roles.includes('Admin')"
                                (change)="userForm.get('role')?.setValue('Admin')" />
                            <label class="form-check-label" for="userRole{{ user.id }}-3">Admin</label>
                        </div>
                        <button type="submit" class="btn btn-primary ms-2" [disabled]="userForm.invalid">Update
                            Role</button>
                    </form>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>