<div class="container">
    <section class="m-3 p-4 border border-dark rounded-3 text-center">
        <h2 class="mb-4">Offers List</h2>
    </section>
    <div class="row">
        <div class="col-lg-6">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Discount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let offer of offers">
                            <td>{{ offer.id }}</td>
                            <td>{{ offer.title }}</td>
                            <td>{{ offer.discount }}</td>
                            <td>
                                <button class="btn btn-danger" (click)="deleteOffer(offer.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mt-4" style="width: 100%;">
                <div class="card-header">Add New Offer</div>
                <div class="card-body">
                    <form [formGroup]="newOfferForm" (ngSubmit)="addNewOffer(newOfferForm)">
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" formControlName="title" required>
                        </div>
                        <div class="mb-3">
                            <label for="discount" class="form-label">Discount</label>
                            <input type="number" class="form-control" id="discount" formControlName="discount" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Offer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>