<!-- Grid View -->
<div class="grid-view" *ngIf="view === 'grid'">
    <div class="card text-center">
        <div class="card-header fw-bold fs-5 text-success">
            {{item.title}}
        </div>

        <div class="overflow-hidden d-flex justify-content-center align-items-center">
            <img src="../../assets/Items/{{item.id}}/1.jpeg" class="img-fluid rounded-start" alt="Item Image"
                OpenItemDetails [itemId]="item.id">
        </div>

        <div class="card-body">
            <h5 class="card-title title"> {{item.itemCategory.artistCategory}}</h5>
            <p class="card-text description"> {{item.description}} </p>
            <h6 class="card-subtitle mb-3 text-primary"> {{item.quantity}} products are available. </h6>
        </div>

        <div class="card-body">
            <h5 class="card-title text-success">
                {{utilityService.applyDiscount(item.price, item.offer.discount)}}€
                <span class="text-primary"> -{{item.offer.discount}}%
                </span>
            </h5>
            <h6 class="card-subtitle text-danger text-decoration-line-through">
                {{item.price}}€
            </h6>
        </div>

        <div class="card-footer text-muted d-grid gap-2">
            <button type="button" class="btn btn-outline-success" [disabled]="!utilityService.isLoggedIn()"
                (click)="this.utilityService.addToCart(item)">
                Add to Cart
                <span *ngIf="!utilityService.isLoggedIn()">(Login First)</span>
            </button>
        </div>

    </div>
</div>

<!-- List View -->
<div class="list-view" *ngIf="view === 'list'">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-4 overflow-hidden d-flex justify-content-center align-items-center">
                <img src="../../assets/Items/{{item.id}}/1.jpeg" class="img-fluid rounded-start" alt="Item Image"
                    OpenItemDetails [itemId]="item.id">
            </div>
            <div class="col d-flex flex-column">
                <div class="card-header text-center">
                    {{item.title}}
                </div>

                <div class="card-body">
                    <h5 class="card-title title"> {{item.itemCategory.artistCategory}} </h5>
                    <p class="card-text description"> {{item.description}} </p>
                    <h6 class="card-subtitle mb-3 text-primary"> {{item.quantity}} products are available. </h6>
                </div>

                <div class="card-body">
                    <h4 class="card-title text-muted">Pricing</h4>
                    <h2 class="card-title text-success">
                        {{utilityService.applyDiscount(item.price, item.offer.discount)}}€
                        <span class="text-primary"> -{{item.offer.discount}}% </span>
                    </h2>
                    <h5 class="card-subtitle text-danger text-decoration-line-through">
                        {{ item.price }}€
                    </h5>
                </div>

                <div class="card-footer text-muted d-grid gap-2">
                    <button type="button" class="btn btn-outline-success" [disabled]="!utilityService.isLoggedIn()"
                        (click)="this.utilityService.addToCart(item)">
                        Add to Cart
                        <span *ngIf="!utilityService.isLoggedIn()">(Login First)</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Current Cart Item View -->
<div class="cart-item-view" *ngIf="view==='currcartitem'">
    <div class="card">
        <div class="row g-0">
            <div class="col-4 overflow-hidden d-flex justify-content-center align-items-center">
                <img src="../../assets/Items/{{item.id}}/1.jpeg" class="img-fluid rounded-start" alt="Item Image"
                    OpenItemDetails [itemId]="item.id">
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <h5 class="card-title text-success">
                        {{utilityService.applyDiscount(item.price, item.offer.discount)}}€
                        <span class="text-primary"> -{{item.offer.discount}}% </span>
                    </h5>
                    <h6 class="card-subtitle text-danger text-decoration-line-through">{{ item.price }}€</h6>
                </div>
                <div class="card-footer text-muted d-grid gap-2">
                    <button class="btn btn-outline-danger" type="button" (click)="this.utilityService.removeFromCart(item)">Remove from
                        cart</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Previous Cart Item View -->
<div class="cart-item-view" *ngIf="view==='prevcartitem'">
    <div class="card text-center">
        <div class="overflow-hidden d-flex justify-content-center align-items-center">
            <img src="../../assets/Items/{{item.id}}/1.jpeg" class="card-img-top" alt="" OpenItemDetails
                [itemId]="item.id">
        </div>
        <div class="card-body">
            <h5 class="card-title title">{{item.title}}</h5>
        </div>
    </div>
</div>