<section class="m-3 p-4 border border-dark rounded-3 text-center">
    <h2 class="mb-4">Items List</h2>
</section>
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Discount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items" [ngClass]="item.itemCategory.category">
                <td>{{ item.id }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.itemCategory.artistCategory }}</td>
                <td>{{ item.itemCategory.category }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.offer.title }}</td>
            </tr>
        </tbody>
    </table>
</div>