<div class="my-container mx-auto border border-dark">
    <div class="row g-0">
        <!-- Working -->
        <!-- <div>
            category: {{item.itemCategory.category}}
            artist: {{item.itemCategory.artistCategory}}
            id: {{item.id}}
        </div> -->

        <!-- Profile Image of Product -->
        <div class="col-4 p-4">
            <div class="d-flex justify-content-center align-items-center">
                <img src="../../assets/Items/{{item.id}}/{{imageIndex}}.jpeg" alt="" class="w-100">
            </div>

            <!-- <div class="image-thumbnails mt-4 d-flex justify-content-between align-items-center">
                <img src="../../assets/Items/{{item.id}}/1.jpeg" alt="Thumbnail Image" (click)="imageIndex = 1">
                <img src="../../assets/Items/{{item.id}}/2.jpeg" alt="Thumbnail Image" (click)="imageIndex = 2">
                <img src="../../assets/Items/{{item.id}}/3.jpeg" alt="Thumbnail Image" (click)="imageIndex = 3">
                <img src="../../assets/Items/{{item.id}}/4.jpeg" alt="Thumbnail Image" (click)="imageIndex = 4">
                <img src="../../assets/Items/{{item.id}}/5.jpeg" alt="Thumbnail Image" (click)="imageIndex = 5">
            </div> -->
            <div class="image-thumbnails mt-4 d-flex justify-content-between align-items-center">
                <img *ngIf="isImageAvailable(item.id, 1)" src="../../assets/Items/{{item.id}}/1.jpeg" alt="Thumbnail Image" (click)="imageIndex = 1">
                <img *ngIf="isImageAvailable(item.id, 2)" src="../../assets/Items/{{item.id}}/2.jpeg" alt="Thumbnail Image" (click)="imageIndex = 2">
                <img *ngIf="isImageAvailable(item.id, 3)" src="../../assets/Items/{{item.id}}/3.jpeg" alt="Thumbnail Image" (click)="imageIndex = 3">
                <img *ngIf="isImageAvailable(item.id, 4)" src="../../assets/Items/{{item.id}}/4.jpeg" alt="Thumbnail Image" (click)="imageIndex = 4">
                <img *ngIf="isImageAvailable(item.id, 5)" src="../../assets/Items/{{item.id}}/5.jpeg" alt="Thumbnail Image" (click)="imageIndex = 5">
              </div>
              
        </div>

        <!-- Details of Product -->
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h2>
                        {{item.title | titlecase}}
                    </h2>
                </div>
                <div class="card-body">
                    <h1 class="card-title text-success">
                        {{utilityService.applyDiscount(item.price,item.offer.discount)}}€
                        <span class="text-primary">-{{item.offer.discount}}%</span>
                    </h1>
                    <h4 class="card-subtitle text-danger text-decoration-line-through">
                        {{item.price}}€
                    </h4>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle my-2 text-primary">{{item.quantity}} products available.</h6>
                    <div class="d-grip gap-2">
                        <!-- allows adding to car only if is LoggedIn -->
                        <button type="button" class="btn btn-outline-success" [disabled]="!utilityService.isLoggedIn()"
                            (click)="this.utilityService.addToCart(item)">Add to Cart
                            <span *ngIf="utilityService.isLoggedIn()">(Login First)</span>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-text">{{item.description}}</h5>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-action"
                            *ngFor="let item of item.description.split('. ')">
                            {{item}}
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <!-- Popular Products -->
        <div class="row g-0">
            <div class="col-12 ps-5 pt-4 pb-3">
                <h3 class="border border-secondary text-center py-2 my-rounded-corner w-25">Related Products</h3>
                <!-- Working -->
                <!-- <div>
                    category: {{item.itemCategory.category}}
                    artist: {{item.itemCategory.artistCategory}}
                    id: {{item.id}}
                </div> -->
            </div>

            <div class="col-12">
                <app-popular-items [category]="item.itemCategory"></app-popular-items>
            </div>
        </div>

        <!-- Review -->
        <div class="row g-0 my-5">
            <!-- User Review -->
            <div class="col p-3">
                <h3>We need your feedback</h3>
                <h5 class="mt-4">Write Your feedback</h5>
                <textarea class="w-75 p-2" [formControl]="feedbackControl"></textarea>
                <div class="d-flex align-items-start">
                    <button class="btn btn-outline-success mt-4 me-5" type="button" (click)="submitFeedback()">
                        Send feedback!
                    </button>
                    <div>
                        <h6 class="text-danger mt-4" *ngIf="!utilityService.isLoggedIn()">Login first, before sending us
                            your feedback.</h6>
                        <h6 class="text-danger" *ngIf="showError">Feedback cannot be null!</h6>
                        <h6 class="text-success" *ngIf="feedbackSaved">Feedback saved successfully!</h6>
                    </div>
                </div>
            </div>
            <!-- Other Review -->
            <div class="col p-3">
                <h3>Other Feedbacks</h3>
                <h6 *ngIf="otherFeedbacks.length === 0">No feeback yet!</h6>
                <div class="card mt-3" *ngFor="let feedback of otherFeedbacks">
                    <div class="card-header d-flex justify-content-between">
                        <div class="card-text">
                            {{feedback.user.fullName}}
                        </div>
                        <div class="card-text fst-italic">
                            Reviewed On: <span class="fw-bold">{{feedback.createdAt| date:"dd-MM-yyyy"}}</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-text">{{feedback.value}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>