<div class="container py-5">
    <div class="card">
        <div class="row d-flex justify-content-between px-3 top">
            <div class="d-flex">
                <h5>
                    ORDER
                    <span class="text-primary font-weight-bold">#YWSNWDAAW</span>
                </h5>
            </div>
            <div class="d-flex flex-column text-sm-right">
                <p class="mb-0">
                    Expected Arrival <span class="font-weight-bold">29 Aug 2022</span>
                </p>
                <p>
                    USPS <span class="font-weight-bold">2374723467163473124234</span>
                </p>
            </div>
        </div>
        <div class="row justify-content-center py-4">
            <div class="col-12">
                <ul id="progressbar" class="text-center">
                    <li class="active step0"></li>
                    <li class="active step0"></li>
                    <li class="active step0"></li>
                    <li class="step0"></li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-between py-4">
            <div class="col-6 col-sm-3 d-flex flex-column align-items-center">
                <img src="../../assets/Track/CheckList.png" alt="" class="icon mb-2" />
                <div class="d-flex flex-column align-items-center">
                    <p class="font-weight-bold mb-0">Order</p>
                    <p class="font-weight-bold mb-0">Processed</p>
                </div>
            </div>
            <div class="col-6 col-sm-3 d-flex flex-column align-items-center">
                <img src="../../assets/Track/Delivery.png" alt="" class="icon mb-2" />
                <div class="d-flex flex-column align-items-center">
                    <p class="font-weight-bold mb-0">Order</p>
                    <p class="font-weight-bold mb-0">Shipped</p>
                </div>
            </div>
            <div class="col-6 col-sm-3 d-flex flex-column align-items-center">
                <img src="../../assets/Track/Shipping.png" alt="" class="icon mb-2" />
                <div class="d-flex flex-column align-items-center">
                    <p class="font-weight-bold mb-0">Order</p>
                    <p class="font-weight-bold mb-0">En Route</p>
                </div>
            </div>
            <div class="col-6 col-sm-3 d-flex flex-column align-items-center">
                <img src="../../assets/Track/Home.png" alt="" class="icon mb-2" />
                <div class="d-flex flex-column align-items-center">
                    <p class="font-weight-bold mb-0">Order</p>
                    <p class="font-weight-bold mb-0">Arrival</p>
                </div>
            </div>
        </div>
    </div>
</div>